In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

## Track Data

In [2]:
PlayerTrackData = pd.read_csv('data/PlayerTrackData.csv', nrows=10000)
PlayerTrackData

,PlayKey,time,event,x,y,dir,dis,o,s
0,26624-1-1,0.0,huddle_start_offense,87.46,28.93,288.24,0.01,262.33,0.13
1,26624-1-1,0.1,NaN,87.45,28.92,283.91,0.01,261.69,0.12
2,26624-1-1,0.2,NaN,87.44,28.92,280.40,0.01,261.17,0.12
3,26624-1-1,0.3,NaN,87.44,28.92,278.79,0.01,260.66,0.10
4,26624-1-1,0.4,NaN,87.44,28.92,275.44,0.01,260.27,0.09
...,...,...,...,...,...,...,...,...,...
9995,26624-1-35,8.0,NaN,87.91,29.82,76.78,0.01,3.79,0.16
9996,26624-1-35,8.1,NaN,87.92,29.81,78.56,0.01,4.21,0.13
9997,26624-1-35,8.2,NaN,87.92,29.80,82.86,0.01,4.60,0.12
9998,26624-1-35,8.3,NaN,87.93,29.80,89.03,0.01,4.94,0.10
9999,26624-1-35,8.4,NaN,87.93,29.79,95.61,0.01,5.28,0.08

In [3]:
PlayerTrackData['event'].value_counts()

ball_snap                  34
line_set                   33
huddle_start_offense       26
huddle_break_offense       26
first_contact              23
tackle                     20
handoff                    18
pass_forward               17
pass_arrived               13
pass_outcome_caught         9
man_in_motion               8
penalty_flag                8
pass_outcome_incomplete     8
out_of_bounds               4
shift                       3
penalty_accepted            2
touchdown                   2
Name: event, dtype: int64

In [5]:
PlayerTrackData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
PlayKey    10000 non-null object
time       10000 non-null float64
event      254 non-null object
x          10000 non-null float64
y          10000 non-null float64
dir        10000 non-null float64
dis        10000 non-null float64
o          10000 non-null float64
s          10000 non-null float64
dtypes: float64(7), object(2)
memory usage: 625.1+ KB

In [6]:
PlayerTrackData.dtypes

PlayKey     object
time       float64
event       object
x          float64
y          float64
dir        float64
dis        float64
o          float64
s          float64
dtype: object